<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Tea is not a drink but it's works as a painkiller for evvery pain</h1>
        <h3>So lets Talk about a famous Teashop In Hyderabad i.e:-AMOGHA</h3>
        <h5>It is situated at Ameerpet,most of the people came there for tea only.If want to try then go n hav a glass
            of tea. After that you will feel that "its not tea but an Emotion"
        </h5>
    </center>
</body>
</html>