<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Url navigation</h1>
        <br>
        <p>it's a process of navigating one html page to another html page by using url mapping name.</p><br>
        <h2>generic url navigation</h2>
        <p>it is the process of navigating one html page to another by using generic url name.
            <br>
            it is possible in single application
        </p>
        <a href="{% url 'text2' %}">go to text2</a>
    </center>
</body>
</html>